#bar-index{
    display: flex;
    justify-content: center;
    gap:10%;
    padding: 2%;
    color:  #2b2b2b;
}

#downtime-box{
    width: 15px;
    height:15px;
    background-color: rgba(209,45,45,.84);
    margin: 5px;
}

#uptime-box{
    width: 15px;
    height:15px;
    background-color: rgba(31,137,14,.74);
    margin: 5px;
}

#partial-box{
    width: 15px;
    height:15px;
    background-color: rgba(228,149,29,.74);
    margin: 5px;
}

.card-footer{
    display:flex;
    background-color: white;
    border: none;
}

.body{
    margin: 10% 10% 0% 10%;
    text-align: center;
}


.mainCard{
    color: blue;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
}