.bar{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 12px;
    padding-top: 3%;
}

.card-body{

    background-color: #fafcff;
}



.card-header{
    color: #2b2b2b;
    font-size: 30px;
    line-height: 2rem;

}

.rendingCard{
  margin-bottom: 2%;
}

.para-text{
    color: rgba(31,40,73,.54);
    font-size: 1rem;
    padding-top: 0.5%;
}

.recent-incident{
    color: #777 ;
    font-size: 1.3rem;
}

.downtime-bar {
    border-left: 8px solid rgba(209,45,45,.84);
    height: 25px;
    padding:2px
  }
  .partial-bar {
    border-left: 8px solid rgba(228,149,29,.74);
    height: 25px;
    padding:2px
  }
  .uptime-bar {
    border-left: 8px solid rgba(31,137,14,.74);
    height: 25px;
    padding:2px
  }

  .online-btn{
    background-color: rgba(31,137,14,.74);
    color: #fff;
    font-weight: 400;
    border-radius: 2rem;
    padding: 0 2% 0 2%;
    font-size: 17px;
    border:none;
  }
  
  