body{
    background: linear-gradient(314deg,#54a5ff -40%,#03299c);
    display:flex;
    flex-direction: column;
    color: white;
    padding: 0% 15% 5% 0%;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.navbar ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    word-wrap: none;
}
li{
    padding: 15%;
}


.header-tab{
    display: flex;
    justify-content: space-between;
    color: #2b2b2b;
    font-size: 25px;   
}

#signup-btn{
    background-color:white;
    color:blue;
    width: 100px;
    height:60px;
    border-radius: 5px;
}